@(employeeForm: Form[models.users.Manager], user: models.users.Employees)

@import helper._

@main("Add Manager", user) {
    <p class = "lead"> Add a new Manager</p>

    @form(action=routes.HomeController.addManagerSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack Prevention *@
        @CSRF.formField
        <!-- Long id, String type, String fName, String lName, double salary -->
        @inputText(employeeForm("email"), '_label -> "Type", 'class -> "form-control")
        @inputText(employeeForm("type"), '_label -> "Type", 'class -> "form-control")
        @inputText(employeeForm("fName"), '_label -> "fName", 'class -> "form-control")
        @inputText(employeeForm("lName"), '_label -> "lName", 'class -> "form-control")
        @inputText(employeeForm("salary"), '_label -> "Salary", 'class -> "form-control")

        @inputText(employeeForm("id"), '_label -> "", 'hidden -> "hidden")
        
        <div class="actions">
            <input type="submit" value="Add Manager" class="btn btn-primary">
            <a href="@routes.HomeController.employees()">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
}