@(projectForm: Form[models.Project], user: models.users.Employees)

@import helper._

@main("Add Project", user) {
    <p class = "lead"> Add a new Project </p>

    @form(action=routes.HomeController.addProjectSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack Prevention *@
        @CSRF.formField
        <!-- Long id, String type, String fName, String lName, double salary -->
        @inputText(projectForm("name"), '_label -> "Name", 'class -> "form-control")

        <p><strong>Employees</strong></p>
        @for((value, name) <- users.Employees.options){
            <input type="checkbox" name="empSelect[]" value="@value"
                @if(projectForm("id").getValue.isPresent && projectForm("id").getValue.get != "") {
                    @if(users.Employees.inEmployees(value.toString, projectForm("id").getValue.get.toLong)) {
                        checked
                    }
              }
            /> @name </br>    
        }
        <p></p>
        @inputDate(projectForm("startDate"), args = 'size -> 10, '_label -> "Start Date", 'class -> "form-control")
        @inputDate(projectForm("dueDate"), args = 'size -> 10, '_label -> "Due Date", 'class -> "form-control")
        @inputText(projectForm("numMembers"), '_label -> "Number Of Members", 'class -> "form-control")

        @inputText(projectForm("id"), '_label -> "", 'hidden -> "hidden")
        
        <div class="actions">
            <input type="submit" value="Add Project" class="btn btn-primary">
            <a href="@routes.HomeController.databaseTest()">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
}