@(elist: List[models.users.Employees], plist: List[models.Project], 
    alist: List[models.Address], emps: models.users.Employees)
@main("Database", emps) {

    @*Display the success*@
    @if(flash.containsKey("success")) {
        <div class="alert- alert-success">
            @flash.get("success")
        </div>
    }
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <!--Header-->
        <h2>Employee Table</h2>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
        </tr>
    </thead>

    <tbody>
        <!-- Loop for creating table rows from Employee data  -->
        
        @for(i<-elist) { 
            <tr>
                <td>@i.getId</td>
                <td>@i.getType</td>
                <td>@i.getfName</td>
                <td>@i.getlName</td>
                <td>&euro; @("%.2f".format(i.getSalary))</td>

                <td>
                    <a href="@routes.HomeController.updateEmployee(i.getId)" class="button-xs btn-danger">
                        <span class="glyphicon-pencil"></span>
                    </a>
                </td>

                <td>
                    <a href="@routes.HomeController.deleteEmployee(i.getId)" class="button-xs btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
        </tr>
        
        }

        <p>
            <a href="@routes.HomeController.addEmployee()">
                <button class="btn btn-primary">Add an Employee</button>
            </a>
        </p>
    </tbody>
 
    <table class="table table-bordered table-hover table-condensed">
    <thead>
        <!--Header-->
        <h2>Project Table</h2>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>Number of Members</th>
        </tr>
    </thead>

    <tbody>
        <!-- Loop for creating table rows from Project data  -->
        
        @for(i<-plist) { 
            <tr>
                <td>@i.getId</td>
                <td>@i.getName</td>
                <td>@i.getStartDate</td>
                <td>@i.getNumMembers</td>
            </tr>
        }
       
    
<!-- Button to add a new project -->
    <p>
        <a href="@routes.HomeController.addProject()">
            <button class="btn btn-primary">Add a Project</button>
        </a>
    </p>

<!-- Button to update an existing project -->
<!-- this was added but was giving errors even when commented -->

</tbody>
    <table class="table table-bordered table-hover table-condensed">
    <thead>
        <!--Header-->
        <h2>Address Table</h2>
        <tr>
            <th>Eircode</th>
            <th>Street 1</th>
            <th>Town</th>
            <th>County</th>
        </tr>
    </thead>

    <tbody>
        <!-- Loop for creating table rows from Employee data  -->
        
        @for(i<-alist) { 
            <tr>
                <td>@i.getEircode</td>
                <td>@i.getStreet1</td>
                <td>@i.getTown</td>
                <td>@i.getCounty</td>
            </tr>
        }
       
    </tbody>
    }